

.container
{
   background-color: rgb(225, 235, 235);
   border-radius: 1rem;
   margin: 1rem;
}

#titleTable
{
   color:rgb(0, 0, 0);
   font-size: 3rem;
   padding: 2rem;
}

td
{
   font-size: 1.5rem;
   text-align: left;

}